@model IEnumerable<Employee>
@{ ViewData["Title"] = "Home Page"; }

<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
    <fieldset id="normalField" style="width:80%">
        <div class="col" style=" margin:0px; padding:1px">
            <div style="margin:1px">
                <canvas id="chartContainer"></canvas>
            </div><hr />
            <div style="margin:1px">
                <canvas id="pieContainer"></canvas>
                </div>
            </div>


</fieldset>
</body>

</html>
@section Scripts{

    <script type="text/javascript">



    var ctx = document.getElementById('chartContainer').getContext('2d');

    var repArr = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.REP));
    var ages = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.AGES));
    var departments = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.DEP));
    var repArrC = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.REPC));
    var empCount = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.EMPCOUNT));
    var repArrD = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.REPD));
    var roles = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ROLES));
    var repArrR = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.REPR));
    var arrMale = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.REPGM));
    var arrFemale = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.REPGF));
    var gMales = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.MALES));
        var gFemales = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.FEMALES));

    var hourlyRate = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.HRATE));
    var arrHRate = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.HR));

    var gender = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.GENDER));
        var regArrG = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.REPG));
   // var repfemale = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.REPGF));

     var data = {
            labels: roles,
            datasets: [{
                label: 'Count',
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 4,
                pointHitRadius: 10,
                data: ages
            },
                {
                label: 'Hourly Rate',
                data: hourlyRate
                }
            ]
    };

    var myChart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
            title: {
            display: true,
            text: 'Sum of employees per department'
        }
    }
    });



    //PIE
    ctx = document.getElementById('pieContainer').getContext('2d');
    var dataPie = {
        datasets: [{
            data: repArrD, hoverBackgroundColor: '#E91E63'
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: departments
    };

    var pieChart = new Chart(ctx, {
        type: 'pie',
        labels: departments,
        data: dataPie,
        options: {
            title: {
                display: true,
                text: 'Role distribution'
            },
            responsive: true
        }
    });


    </script>


}