@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee Index</h1>

<br/><br/>
<div class="border" style="background-color: lightcyan; padding:10px;">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Employee List</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartial"/>
        </div>
    </div>
    <br/>
    <div>
        @if (Model.Count() > 0)
        {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    @Html.DisplayNameFor(m => m.EmployeeNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Department)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.EmployeeCount)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.EnvironmentSatisfaction)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.OverTime)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.PerformanceRating)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.StockOptionLevel)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(m => item.EmployeeNumber)
            </td>
            <td>
                @Html.DisplayFor(m => item.Department)
            </td>
            <td>
                @Html.DisplayFor(m => item.EmployeeCount)
            </td>
            <td>
                @Html.DisplayFor(m => item.EnvironmentSatisfaction)
            </td>
            <td>
                @Html.DisplayFor(m => item.OverTime)
            </td>
            <td>
                @Html.DisplayFor(m => item.PerformanceRating)
            </td>
            <td>
                @Html.DisplayFor(m => item.StockOptionLevel)
            </td>
            <td>
                <partial name="_TableButtonPartial" model="item.Id" />
            </td>
        </tr>
            }
        </table>
        }
        else
        {
            <p>No Employee exists...</p>
        }
    </div>
</div>