@page
@model Project_2_26047179.Pages.EmployeeList.IndexModel
@{
}
<br />
<div class="container row p-0 m-0">
    <!-- these are all bootstrap classes-->
    <div class="col-9">
        <h2 class="text-info">Employee List</h2>
    </div>
    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control">Create New Employee</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Employees.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Employees.FirstOrDefault().Age"></label>
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().Attrition) <!--m=>m. lamda expression-->
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().BusinessTravel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().DailyRate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().Department)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().DistanceFromHome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().Education)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().EducationField)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().EmployeeCount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().EmployeeNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().EnvironmentSatisfaction)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().HourlyRate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().JobInvolvement)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().JobLevel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().JobRole)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().JobSatisfaction)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().MaritalStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().MonthlyIncome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().MonthlyRate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().NumCompaniesWorked)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().Over18)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().OverTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().PercentSalaryHike)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().PerformanceRating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().RelationshipSatisfaction)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().StandardHours)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().StockOptionLevel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().TotalWorkingYears)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().TrainingTimesLastYear)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().WorkLifeBalance)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().YearsAtCompany)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().YearsInCurrentRole)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().YearsSinceLastPromotion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Employees.FirstOrDefault().YearsWithCurrManager)
                        </th>

                    </tr>
                    @foreach (var item in Model.Employees)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Age)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Attrition)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.BusinessTravel)
                            </td>
                            <th>
                                @Html.DisplayFor(m => item.DailyRate)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.Department)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.DistanceFromHome)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.Education)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.EducationField)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.EmployeeCount)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.EmployeeNumber)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.EnvironmentSatisfaction)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.Gender)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.HourlyRate)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.JobInvolvement)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.JobLevel)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.JobRole)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.JobSatisfaction)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.MaritalStatus)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.MonthlyIncome)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.MonthlyRate)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.NumCompaniesWorked)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.Over18)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.OverTime)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.PercentSalaryHike)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.PerformanceRating)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.RelationshipSatisfaction)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.StandardHours)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.StockOptionLevel)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.TotalWorkingYears)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.TrainingTimesLastYear)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.WorkLifeBalance)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.YearsAtCompany)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.YearsInCurrentRole)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.YearsSinceLastPromotion)
                            </th>
                            <th>
                                @Html.DisplayFor(m => item.YearsWithCurrManager)
                            </th>
                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@item.Id" onClick="return confirm('Are you sure you want to delete this item?')" class="btn btn-danger btn-sm">Delete</button>
                                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No Employees available</p>
            }
        </form>
    </div>
</div>

<div class="col-12" style="text-align:center">
    <br />
    <span class="h3 text-info">OR</span>
    <br /><br />
</div>
<div class="col-12 border p-3">

    <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th> Author</th>
                <th> ISBN</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>